/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
End reset
*/


#navbar {
  height: 104px;
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  line-height: 1.4375rem;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  vertical-align: baseline;
  display: block;
  background: #fff;
  clear: both;
  position: relative;
  width: 100%;
  z-index: 998;
  border-bottom: 1px solid #bfbfbf;
  margin: 1.87495rem 0 .375rem 0;
  padding-top: 0;
}

#article {
  margin-left: 75px;
  margin-right: 75px;
}

#page-footer {
  height: 577px;
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: green;
}

#article-content {
  height: 1607px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#article-footer {
  height: 296px;
  width: 100%;
  background-color: hotpink;
  margin-bottom: 22px;
}

#article-content-inner {
  height: 1607px;
  flex: 1;
}

#article-asidebar {
  height: 1607px;
  width: 300px;
  background-color: mediumblue;
}

#header-wrapper {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  line-height: 1.4375rem;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  max-width: 70.62495rem;
  margin: 0 auto;
  margin-bottom: 11px;
  height: 57px;
  padding: 0 .93747rem;
  position: relative;
}

.header-promotion {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  line-height: 1.4375rem;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  background: transparent;
  border-top: 0;
  box-shadow: none;
  display: block;
  float: left;
  margin-right: 2%;
  padding: 0;
  position: static;
  width: 26.9%;
}

.header-promotion__title {
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
  letter-spacing: -.0375rem;
  color: #00b3e5;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1875rem;
  margin: 0;
  text-transform: uppercase;
  display: block;
}

.header-promotion__title-link {
  -webkit-font-smoothing: antialiased;
  letter-spacing: -.0375rem;
  font-weight: 700;
  line-height: 1.1875rem;
  text-transform: uppercase;
  box-sizing: inherit;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: #00b3e5;
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif!important;
}

.header-promotion__sub-title-link {
  -webkit-font-smoothing: antialiased;
  line-height: 1.1875rem;
  box-sizing: inherit;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  color: inherit;
  text-decoration: none;
  font-family: "PT Serif",Georgia,serif!important;
}

.header-promotion__sub-title {
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  padding: 0;
  vertical-align: baseline;
  margin: 0 0 .6875rem;
  margin-bottom: 0;
  color: #999;
  font-size: 1rem;
  line-height: 1.1875rem;
}

.header-logo {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  line-height: 1.4375rem;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  vertical-align: baseline;
  margin: 0 auto;
  text-align: center;
  float: left;
  height: 3.5rem;
  margin-right: 2%;
  width: 42.2%;
}

.logo-svg {
  -webkit-font-smoothing: antialiased;
  line-height: 1.4375rem;
  text-align: center;
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  box-sizing: inherit;
  background: none;
  border: 0;
  padding: 0;
  height: 3.5rem;
  width: 21.875rem;
}

.header-subscribe {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  line-height: 1.4375rem;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  border-bottom: 0;
  border-top: 0;
  float: left;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  text-align: right;
  width: 26.9%;
}

.header-subscribe a{
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
  margin: 0;
  vertical-align: baseline;
  text-decoration: none;
  border: 0;
  border-radius: .188rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  padding: .45833rem;
  text-align: center;
  text-transform: uppercase;
  transition: all .2s;
  background: #00b3e5;
  width: 15rem;
  margin-bottom: .34375rem;
}

.header-nav {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  line-height: 1.4375rem;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  clear: both;
  left: 0;
  top: 0;
  width: 100%;
  position: relative;
}

#primary-nav {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  line-height: 1.4375rem;
  box-sizing: inherit;
  font-family: inherit;
  font-size: 100%;
  margin-left: 75px;
  vertical-align: baseline;
  z-index: 500;
  content-visibility: visible;
  background: transparent;
  border: none;
  box-shadow: none;
  display: block!important;
  float: left;
  padding: .34375rem 0 0;
  position: relative;
  text-align: left;
  top: auto;
  width: auto;
}

#menu-main {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  line-height: 1.4375rem;
  text-align: left;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: auto;
  overflow-y: visible;
}

.primary-nav__item {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  line-height: 1.4375rem;
  list-style: none;
  list-style-type: none;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  position: relative;
  border-bottom: 0;
  display: inline-block;
  margin: 0 1.03125rem 0 0;
  padding: 0 0 .51562rem;
}

.primary-nav__link {
  -webkit-font-smoothing: antialiased;
  list-style: none;
  list-style-type: none;
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: #002837;
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.3125rem;
  width: 100%;
}

.primary-nav__item_secondary {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  line-height: 1.4375rem;
  list-style: none;
  list-style-type: none;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  position: relative;
  border-bottom: 0;
  display: inline-block;
  margin: 0 1.03125rem 0 0;
  padding: 0 0 .51562rem;
}

.primary-nav__link_secondary {
  color: #00b3e5;
  -webkit-font-smoothing: antialiased;
  list-style: none;
  list-style-type: none;
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  display: inline-block;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  width: 100%;
}

.header-tools {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  line-height: 1.4375rem;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin-right: 75px;
  vertical-align: baseline;
  z-index: 550;
  float: right;
  padding: .34375rem 0 0;
  position: relative;
  right: 0;
  top: 0;
}

.header-tools__login-link {
  -webkit-font-smoothing: antialiased;
  line-height: 1.4375rem;
  box-sizing: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  color: #002837;
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  background: none;
  border: 0;
  margin: 0 .6875rem 0 0;
  outline: none;
  padding: 0;
  margin-right: .45833rem;
}

.header-tools__login-icon {
  -webkit-font-smoothing: antialiased;
  line-height: 1.4375rem;
  color: #002837;
  font-weight: 700;
  text-transform: capitalize;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.icon {
  -webkit-font-smoothing: antialiased;
  line-height: 1.4375rem;
  color: #002837;
  font-weight: 700;
  text-transform: capitalize;
  font-family: inherit;
  font-size: 100%;
  box-sizing: inherit;
  fill: #002837;
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: 1px;
  height: 1rem;
  width: 1rem;
}

.header-tools__item-text {
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  text-transform: capitalize;
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
  font-size: 1.125rem;
  left: auto;
  line-height: 1.3125rem;
  overflow: visible;
  position: relative;
  width: auto;
  color: #002837;
  text-decoration: none;
}

.header-search {
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
  cursor: pointer;
  color: #002837;
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  background: none;
  border: 0;
  margin: 0 .6875rem 0 0;
  outline: none;
  padding: 0;
  margin-right: 0;
}

.article-header {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  line-height: 1.4375rem;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding-top: 16px;
  vertical-align: baseline;
  display: block;
}

.article__title {
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  color: #000;
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
  margin: 0 0 .93747rem;
  letter-spacing: -.0375rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.1875rem;
}

.social__button-container {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  line-height: 1.4375rem;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  vertical-align: baseline;
  display: flex;
  flex-direction: row;
  margin: 0 0 .6875rem;
}

.social__button--facebook {
  -webkit-font-smoothing: antialiased;
  line-height: 1.4375rem;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  color: inherit;
  text-decoration: none;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  padding: 2px;
  transition: all .1s;
  height: 32px;
  width: 32px;
  background: #3b5998;
  margin-right: .91667rem;
}

.social__button--twitter {
  -webkit-font-smoothing: antialiased;
  line-height: 1.4375rem;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  color: inherit;
  text-decoration: none;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  padding: 2px;
  transition: all .1s;
  height: 32px;
  width: 32px;
  background: #1da1f2;
  margin-right: .91667rem;
}

.social__button--whatsapp {
  -webkit-font-smoothing: antialiased;
  line-height: 1.4375rem;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  color: inherit;
  text-decoration: none;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  padding: 2px;
  transition: all .1s;
  height: 32px;
  width: 32px;
  background: #4dc247;
  margin-right: .91667rem;
}

.social__button--linkedin {
  -webkit-font-smoothing: antialiased;
  line-height: 1.4375rem;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  color: inherit;
  text-decoration: none;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  padding: 2px;
  transition: all .1s;
  height: 32px;
  width: 32px;
  background: #0077b5;
  margin-right: .91667rem;
}

.social__button--reddit {
  -webkit-font-smoothing: antialiased;
  line-height: 1.4375rem;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  color: inherit;
  text-decoration: none;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  padding: 2px;
  transition: all .1s;
  height: 32px;
  width: 32px;
  background: #ff5700;
  margin-right: .91667rem;
}

.social__button--email {
  -webkit-font-smoothing: antialiased;
  line-height: 1.4375rem;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  color: inherit;
  text-decoration: none;
  background: #999;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  padding: 2px;
  transition: all .1s;
  height: 32px;
  width: 32px;
  margin-right: .91667rem;
}

.social__button--print {
  -webkit-font-smoothing: antialiased;
  line-height: 1.4375rem;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  color: inherit;
  text-decoration: none;
  background: #999;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  padding: 2px;
  transition: all .1s;
  height: 32px;
  width: 32px;
  margin-right: 0;
}

.article__eyebrow {
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  margin-right: .17188rem;
  text-transform: uppercase;
  color: #484848;
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif!important;
  font-size: 1rem!important;
  font-weight: 700!important;
  line-height: 1.1875rem!important;
}

.article__eyebrow-link {
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  font-weight: 700!important;
  line-height: 1.1875rem!important;
  box-sizing: inherit;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.published-date {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif!important;
  font-size: 1rem!important;
  font-weight: 400!important;
  line-height: 1.1875rem!important;
}

.article_block {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  line-height: 1.4375rem;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.article__byline {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  box-sizing: inherit;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  margin: 0 0 .6875rem;
  font-weight: 400;
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
  font-size: 1rem;
  line-height: 1.1875rem;
}

.article__byline-author {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: 700;
}

.author {
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif!important;
  font-size: 1rem!important;
  font-weight: 700!important;
  line-height: 1.1875rem!important;
  color: #00b3e5;
}

.datebar {
  margin-bottom: 11px;
}

.article-image-inline {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  line-height: 1.4375rem;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  vertical-align: baseline;
  display: block;
  margin: 0 0 1.375rem;
}

.article-image {
  -webkit-font-smoothing: antialiased;
  line-height: 1.4375rem;
  aspect-ratio: auto 1200 / 800;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  max-width: 100%;
  background-color: #696969;
  color: #696969;
  display: block;
  height: auto;
  width: 100%;
}

.image__caption {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  box-sizing: inherit;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  margin: 0;
  width: 100%;
  font-weight: 700;
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
  font-size: .75rem;
  line-height: .9375rem;
}

.image__credit {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  box-sizing: inherit;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  margin: 0;
  width: 100%;
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
  font-size: .75rem;
  line-height: .9375rem;
  font-weight: 400;
}

.article_paragraph {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  box-sizing: inherit;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  margin: 0 0 .6875rem;
  font-size: 1.0625rem;
  line-height: 1.5625rem;
  font-family: "PT Serif",Georgia,serif;
}

.article_paragraph a{
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  font-size: 1.0625rem;
  line-height: 1.5625rem;
  font-family: "PT Serif",Georgia,serif;
  color: #00b3e5;
}

.box-out {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  line-height: 1.4375rem;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: #f5f5f5;
  display: inline-block;
  margin: 1.375rem 0;
  padding: .6875rem;
  width: 100%;
}

.box-out h4{
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  color: #000;
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
  letter-spacing: -.0375rem;
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1875rem;
}

.box-out h4 a{
  -webkit-font-smoothing: antialiased;
  letter-spacing: -.0375rem;
  box-sizing: inherit;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: #00b3e5;
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1875rem;
  margin: 0 0 0 .34375rem;
}

.references {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  box-sizing: inherit;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  margin: 0 0 .6875rem;
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif!important;
  font-size: 1rem!important;
  font-weight: 700!important;
  line-height: 1.1875rem!important;
}

.font-serif-xxs--regular {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-size: 1rem!important;
  font-weight: 400!important;
  line-height: 1.1875rem!important;
  font-family: "PT Serif",Georgia,serif!important;
}

.references a {
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  font-size: 1rem!important;
  font-weight: 400!important;
  line-height: 1.1875rem!important;
  font-family: "PT Serif",Georgia,serif!important;
  color: #00b3e5;
}

.article-topics {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  line-height: 1.4375rem;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  align-items: baseline;
  display: flex;
  padding: 1.375rem 0 0;
  width: 100%;
  flex-direction: row;
}

.font-sans-serif-xxs--bold {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  box-sizing: inherit;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif!important;
  font-size: 1rem!important;
  font-weight: 700!important;
  line-height: 1.1875rem!important;
  margin: 0 .6875rem 0 0;
}

.article-topics ul {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  line-height: 1.4375rem;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  padding: 0;
  margin: 0 0 .6875rem;
  list-style: none;
}

.article-topics ul li {
  -webkit-font-smoothing: antialiased;
  color: #4d4d4d;
  line-height: 1.4375rem;
  list-style: none;
  box-sizing: inherit;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  vertical-align: baseline;
  display: inline-block;
  margin: 0 .6875rem .6875rem 0;
}

.article-topics ul li a {
  -webkit-font-smoothing: antialiased;
  list-style: none;
  box-sizing: inherit;
  margin: 0;
  vertical-align: baseline;
  text-decoration: none;
  border: 0;
  border-radius: .188rem;
  cursor: pointer;
  display: inline-block;
  padding: .45833rem;
  text-align: center;
  text-transform: uppercase;
  transition: all .2s;
  background: #005587;
  color: #fff;
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1875rem;
}